body {
  background-image: url(./assets/galar.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#searchBox {
  align-items:center;
  justify-content: center;
  width:50vh;
  height:50vh;
  background-color: rgba(255, 255, 255, 0.3);
}

.pokeball{
  
  position: absolute 0 0 0 0;
  margin: auto;
  width: 300px;
  height: 300px;
  background-color: #ccc;
  border: 10px black solid;
  border-radius: 50%;
}


/* Types */

.type {
  font-size: 2ch;
  width:80px;
  border:black 1px solid;
  text-align: center;
}